.w-button {
  display: inline-block;
  font-weight: $font-weight--medium;
  line-height: $line-height--small-3;
  min-width: 42px;
  padding: 6px 12px;
  border-radius: $border--radius;
  background-color: $color--grey-second;
  color: $color--orange;
  text-align: center;

  &:hover,
  &:focus {
    background-color: $color--grey-second-light;
  }

  &:active {
    background-color: $color--grey-second-light;
  }

  &[disabled],
  &.is-disabled {
    background-color: $color--grey;
    color: $color--grey-border;
    cursor: not-allowed;
    pointer-events: none;
  }
}