.w-dropdown-arrow {
  transition: transform 0.2s linear;
  width: 18px;
  height: 18px;
}

.w-dropdown-arrow--closed {
  transform: rotate(180deg);
}

//@media screen and (max-width: $bp-max-medium) {
//  .w-dropdown-arrow {
//    width: 1.5vw !important;
//    height: 1.5vw !important;
//  }
//}