.u-margin--left-1bu {
  margin-left: $length--bu;
}

.u-margin--left-2bu {
  margin-left: $length--bu * 2;
}

.u-margin--right-half-bu {
  margin-right: $length--bu / 2;
}

.u-margin--right-1bu {
  margin-right: $length--bu;
}

.u-margin--right-2bu {
  margin-right: $length--bu * 2;
}

.u-margin--bottom-1bu {
  margin-bottom: $length--bu;
}

.u-margin--top-1bu {
  margin-top: $length--bu;
}
