.u-color--white {
  color: $color--white;
}

.u-color--black {
  color: $color--black;
}

.u-color--red {
  color: $color--red;
}

.u-color--green {
  color: $color--green;
}

.u-color--orange {
  color: $color--orange;
}

.u-color--blue {
  color: $color--blue;
}