.u-font-size--8-px {
  font-size: 8px;
}

.u-font-size--9-px {
  font-size: 9px;
}

.u-font-size--10-px {
  font-size: 10px;
}

.u-font-size--11-px {
  font-size: 11px;
}

.u-font-size--12-px {
  font-size: 12px;
}

.u-font-size--14-px {
  font-size: 14px;
}

.u-font-size--15-px {
  font-size: 15px;
}

.u-font-size--16-px {
  font-size: 16px;
}

.u-font-size--18-px {
  font-size: 18px;
}

.u-font-size--20-px {
  font-size: 20px;
}

.u-font-size--21-px {
  font-size: 21px;
}

.u-font-size--24-px {
  font-size: 24px;
}