// naming: $font-size--

// Default text-size value
$font-size--default: 1.5vw;
$font-size--default-lg: 16px;

// font-size headline
$font-size--headline-huge: 60px;
$font-size--headline-largest: 48px;
$font-size--headline-larger: 36px;
$font-size--headline-large: 32px;
$font-size--headline-regular: 24px;
$font-size--headline-22: 22px;
$font-size--headline-21: 21px;
$font-size--headline-20: 20px;

// font-size
$font-size--big: 21px;
$font-size--large: 18px;
$font-size--regular: 16px;
$font-size--medium: 15px;
$font-size--small: 14px;
$font-size--smaller: 12px;
$font-size--smallest: 8px;
